# Dependencias
node_modules/

# Variables de entorno
.env
.env.local
.env.development
.env.production

# Archivos de sistema
.DS_Store
Thumbs.db
desktop.ini

# Logs
logs/
*.log
npm-debug.log*

# Build
dist/
build/